html,
body {
    height: 100%;
    width: 100%;
}

canvas {
  display: block;
  height: 85%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  border-style: ridge;
  border: 1px 1px 1px 1px;
  border-color: rgb(204, 204, 204);
}

canvas:hover {
  cursor: pointer;
}

#tool-container {
  display: block;
  position: relative;
  top: 10px;
  width: 100%;
  height: 50px;
}

#pixel-input {
  width: 25px;
}

.input-container {
  display: inline-block;
  margin-left: 25%;
}

.total-length-container {
  display: block;
}

.drawing-button {
  display: inline-block;
  height: 100%;
  width: 10%;

  border-style: outset;
  border: 0.5px 0.5px 0.5px 0.5px;
  border-radius: 10px;
  border-color: rgb(204, 204, 204);

  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  user-select: none;

  height: 40px;
  position: relative;
  top: -10px;
}

.drawing-button:hover {
  background-color: rgb(211, 237, 251);
  cursor: pointer;
}

.drawing-button:active {
  border-style: inset;
}

.selected-tool {
  background-color: rgb(211, 237, 251);
  border-style: inset;
}

#clear-button {
  margin-left: 2%;
  display: inline-block;
}

#vector-button {
  margin-left: 2%;
}

#drawing-form-container {
  display: none;
}
